<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.catglo.bandridesserver.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/band_rides_server/greet</url-pattern>
  </servlet-mapping>
  
  
  	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>com.catglo.bandridesserver.NewUserServlet</servlet-class>
	</servlet>
	
  	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/user.php</url-pattern>
	</servlet-mapping>
  
  	<servlet>
		<servlet-name>band</servlet-name>
		<servlet-class>com.catglo.bandridesserver.NewBandServlet</servlet-class>
	</servlet>
	
  	<servlet-mapping>
		<servlet-name>band</servlet-name>
		<url-pattern>/index.php</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>show</servlet-name>
		<servlet-class>com.catglo.bandridesserver.NewShowServlet</servlet-class>
	</servlet>
	
  	<servlet-mapping>
		<servlet-name>show</servlet-name>
		<url-pattern>/show.php</url-pattern>
	</servlet-mapping>
  
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Band_Rides_Server.jsp</welcome-file>
  </welcome-file-list>

</web-app>
